  body {
      background-color: #0d0d0d;
      color: #fff;
      font-family: "Be Vietnam Pro", sans-serif;
      scroll-behavior: smooth;
}
   @font-face {
  src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: normal;
}
   @font-face {
  src: url("/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-family: "Be Vietnam Pro-Bold";
  font-style: normal;
  font-weight: normal;
}
  @font-face {
  src: url("/fonts/DIN-Black.otf") format("opentype");
  font-family: "DIN-Black";
  font-style: normal;
  font-weight: normal;
}

  a {
	  color: #ffffff;
      text-decoration: none;
  }
  a:hover {
  color: #ffd700;
   }
	a {
  transition: all 0.5s ease;
 }
.border-bottom {
 color: #f5cc02;
 height: 0.5px;
}
.navbar-brand img {
  vertical-align: middle;
}
.hero-section {
  background-color: #000;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

footer {
  font-size: 0.95rem;
}
footer a:hover {
  color: #ffc107;
}
